rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Mode pengembangan / bootcamp: izinkan baca & tulis untuk semua collection
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
